html, body {
	overflow: hidden;
}

#container {
	position: relative;
}

#menu, #options, #tutorial, #leaderboard {
	position: relative;
}

#eq > span {
    height:120px; float:left; margin:15px
  }
  
.pagestuff {
	position: absolute;
	top:100;
	left:10;
}
  
#teamlogo {
	position: absolute;
	width: 480px;
	height: 360px;
	right:10;
	bottom:10;
}